[core]
	autocrlf = false
	pager = less -FRX
	editor = vim
[push]
  autoSetupRemote = true
[pull]
  rebase = true
[alias]
	ss = status --short
	sw = switch
	ssufa = status --short --untracked-files=all
	l = log -7 --graph --pretty=format:\"%C(auto)%h%d%Creset %s %C(green)%cn%Creset %C(cyan)(%cr)%Creset\"
	last = l -1
	co = checkout
	c = commit
	b = branch
	p = push
	pl = pull
	branches = "!git branch && git branch --remote"
	cm = commit --message
	aa = add --all
	aac = "!git add --all && git commit"
	aacp = "!git add --all && git commit && git push"
	aacpf = "!git add --all && git commit && git push --force-with-lease"
	wt = worktree
	fpa = fetch --prune --all
	pf = push --force-with-lease
	ca = commit --amend
	aaca = "!git add --all && git commit --amend"
	cane = commit --amend --no-edit
	aacm = "!git add --all && git commit --message"
	aacane = "!git add --all && git commit --amend --no-edit"
	canep = "!git commit --amend --no-edit && git push"
	canepf = "!git commit --amend --no-edit && git push --force-with-lease"
	aacapf = "!git add --all && git commit --amend && git push --force-with-lease"
	aacanepf = "!git add --all && git commit --amend --no-edit && git push --force-with-lease"
	cp = "!git commit && git push"
	aacp = "!git add -all && git commit && git push"
	aacpf = "!git add -all && git commit && git push --force-with-lease"
	wt = worktree
	co = checkout
	smfe = submodule foreach
	skipped = !git ls-files -v | grep \"^S\"
	skip = update-index --skip-worktree
	no-skip = update-index --no-skip-worktree